# Build artifacts
bin/
build/


# Compiled files
*.o
*.exe
*.gb
*.elf

# Temporary or backup files
*.log
*.tmp
*.bak
*.swp

# Emulator
dev-tools/
emu/BGB/*

# VSCode settings
.vscode/

# OS-specific junk
.DS_Store
Thumbs.db
emu/BGB/bgb.ini
