# No GBDK and tools
bin/
lib/
libexec/
include/

# Do not include platform specific tools
dev-tools/
emu/

# Do not include build directory
build/

# Do not include any binaries or build files
*.o
*.exe
*.gb
*.elf
*.map
*.noi

# Temporary or backup files
*.log
*.tmp
*.bak
*.swp

# VSCode settings
.vscode/

# OS-specific junk
.DS_Store
Thumbs.db
