# Build artifacts
/bin/
/build/


# Compiled files
*.o
*.exe
*.gb
*.elf

# Temporary or backup files
*.log
*.tmp
*.bak
*.swp

# Emulator
/emu/BGB/
/dev-tools/
*bgb.ini

# VSCode settings
.vscode/

# OS-specific junk
.DS_Store
Thumbs.db
emu/BGB/bgb.ini
